<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714153218404-pn0h3snstid595mp25hftf17bqgdu94h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714153218404-pn0h3snstid595mp25hftf17bqgdu94h</string>
	<key>API_KEY</key>
	<string>AIzaSyD0NDsTB_R-bEGM5o9n0hWDDuU3w6rpGLo</string>
	<key>GCM_SENDER_ID</key>
	<string>714153218404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lunchdate</string>
	<key>PROJECT_ID</key>
	<string>justetfs</string>
	<key>STORAGE_BUCKET</key>
	<string>justetfs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714153218404:ios:8bd0cbfec03a49dd172a71</string>
	<key>DATABASE_URL</key>
	<string>https://justetfs.firebaseio.com</string>
</dict>
</plist>